{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "window": true,
    "document": true,
    "jasmine": true,
    "describe": true,
    "it": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "expect": true,
    "assert": true,
    "sinon": true,
    "console": true,
    "$": true,
    "_": true
  },
  "rules": {
    // Code style
    "indent": [2, 2, {SwitchCase: 1}],
    "camelcase": 2,
    "no-undefined": 1,
    "no-unused-vars": 1, 
    "no-use-before-define": 0,
    "curly": 2,
    "no-trailing-spaces": 2,
  }
}
