<navbar></navbar>

<div class="container">
  <!-- Empty cart -->
  <div ng-show="cart.items < 1">Your cart is currently empty..</div>
  <!-- Items in the shopping cart -->
  <div class='cart-products-box'>
    <table class="cart-table">
      <tr ng-hide="cart.items < 1">
        <th width="25%">Product</th>
        <th width="25%">Quantity</th>
        <th width="25%">Price</th>
        <th width="25%">Action</th>
      </tr>
      <tr ng-repeat='item in cart.items'>
        <td>
          <a class="links" href="/#/products/{{item._id}}">{{item.name}}</a>
        </td>
        <td class="cart-table-qty">{{item.quantity}}</td>
        <td>{{item.price | currency:"£"}}</td>
        <td><button ng-click='cart.removeFromCart(item)' class="btn btn-primary">Remove from cart</button></td>
      </tr>
    </table>
    <!-- total -->
    <div ng-hide="cart.items < 1" id='totalPrice' class="orange"><b>Total: {{cart.totalCartPrice() | currency:"£"}}</b></div>
  </div>
</div>
